

{% extends "EshopStockBundle:Default:index.html.twig" %}
    {% block container %}
        {{ form_start(form) }}

        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>

                <th>date</th>
                <th>duree</th>
                <th>lieu</th>
                <th>categorie</th>



            </thead>

            <tbody>
            <tr>


                <td> {{ form_widget(form.date) }}</td>
                <td> {{ form_widget(form.duree) }}</td>
                <td> {{ form_widget(form.lieu) }}</td>
                <td> {{ form_widget(form.categorie) }}</td>






            </tr>
            <td>{{ form_widget(form.ajouter) }}</td>

            <tr>





                <div class="hidden-desktop visible-phone">
                    <div class="inline position-relative">
                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog icon-only bigger-110"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                            <li>
                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																		<span class="blue">
																			<i class="icon-zoom-in bigger-120"></i>
																		</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																		<span class="green">
																			<i class="icon-edit bigger-120"></i>
																		</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																		<span class="red">
																			<i class="icon-trash bigger-120"></i>
																		</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </td>
            </tr>






            </tbody>
        </table>
    {% endblock %}